:root {
  --main-color: #3e84e1;
  --hover-color: #82b1f0;
}
body {
  background-color: #f0f2f5;
  display: flex;
  flex-direction: column;
}
header {
  background-color: #b2b3b5;
  width: 100%;
  height: 71px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px 0 30px;
  margin-top: 0;
  box-sizing: border-box;
}
#headerLeft {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#navOpenBtn {
  width: 27.82px;
  height: 34px;
  margin-right: 20px;
  cursor: pointer;
}
#mainLogo {
  width: 140px;
  height: 54px;
}
#headerRight {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: fit-content;
}
#userID {
  font-size: 36px;
  font-weight: bold;
  margin-right: 20px;
}
#logoutBtn {
  position: relative;
  width: 103px;
  height: 45px;
  border-radius: 30px;
  background-color: var(--main-color);
  font-size: 15px;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 0 0 13px;
}
#logoutIcon {
  position: absolute;
  width: 22px;
  height: 22px;
  margin-left: 59px;
}
main {
  width: 80%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#timeContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 10px 0;
}
#selectYear {
  display: flex;
  flex-direction: row;
}
#thisYear {
  font-size: 30px;
  margin: 0 10px 0 10px;
}
#monthContainer {
  display: flex;
  justify-content: space-between;
}
#mainMonth {
  display: flex;
  flex-direction: row;
}
.month {
  font-size: 20px;
  padding: 0 20px 0 20px;
  cursor: pointer;
}
.month:hover {
  text-decoration: underline;
  text-decoration-color: var(--main-color);
  text-underline-position: under;
}
.selectedMonth {
  display: inline;
  box-shadow: inset 0 -30px 0 var(--main-color);
  color: white;
}
#mainCalendar {
  width: 100%;
  margin: 10px 0 0 0;
  /* display: grid;
  grid-template-columns: repeat(7, 150px); */
  display: flex;
  flex-direction: column;
}
.weekBox {
  display: flex;
  flex-direction: row;
}
.dateBox {
  border: 1px solid #b2b2b2;
  flex-direction: row;
  flex-wrap: wrap;
  width: calc(100% / 7);
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  cursor: pointer;
}
.dateBox:hover {
  background-color: var(--hover-color);
}
.dateNum {
  align-self: flex-start;
}
.scheduleNum {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#navBar {
  position: fixed;
  top: 71;
  left: 0;
  background-color: #b2b3b5;
  width: 213px;
  height: 7100px;
  box-sizing: border-box;
  padding: 50px 10px 10px 30px;
}
#teamName {
  font-size: 30px;
  font-weight: bold;
}
.positionTitle {
  font-size: 23px;
  font-weight: bold;
  margin: 20px 0 10px 0;
}
.memberName {
  font-size: 20px;
  background-color: transparent;
  border: none;
  padding: 0;
  width: 170px;
  display: flex;
  justify-content: flex-start;
  padding: 10px 0 10px 0px;
  border-radius: 10px;
}
.memberName:hover {
  background-color: var(--hover-color);
}
#teamMembersList {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
#dailyScheduleModal {
  position: absolute;
  background-color: #d9d9d9;
  width: 720px;
  height: 500px;
}
#dailyScheduleHeader {
  width: 100%;
  height: 90px;
  background-color: var(--main-color);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-weight: bold;
  position: relative;
}
#closeScheduleModalBtn {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 13px;
  right: 23px;
}
#closeModalBtnImg {
  width: 20px;
  height: 20px;
}
#newScheduleContainer {
  background-color: white;
  width: 100%;
  height: 85px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}
#scheduleTimeSelect {
  width: 138px;
  height: 30px;
  margin: 10px 0 10px 20px;
  border: none;
  font-size: 15px;
}
#scheduleInputBox {
  border: none;
  width: 440px;
  padding: 20px 0 20px 20px;
  font-size: 25px;
}
#scheduleInputBox:focus {
  outline: none;
}
#addScheduleBtn {
  width: 100px;
  height: 100%;
  padding: 0;
  box-sizing: border-box;
  font-size: 40px;
  font-weight: bold;
  color: white;
  background-color: #b7b7b7;
}
#scheduleListContainer {
  width: 100%;
  height: 325px;
  overflow: auto;
  position: absolute;
  display: flex;
  justify-content: flex-start;
}
#scheduleColumn {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
}
.scheduleRow {
  background-color: #dfeaf8;
  width: 100%;
  height: 102px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #b7b7b7;
}
.scheduleRow:hover {
  background-color: var(--hover-color);
}
.scheduleName {
  font-size: 25px;
  padding-left: 20px;
}
.scheduleExtraFunctions {
  width: 100px;
  height: 100%;
  display: flex;
  flex-direction: row;
  padding: 10px 15px 10px 10px;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: center;
}
.scheduleExtraBtn {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
}
.scheduleExtraBtnImg {
  width: 30px;
  height: 30px;
}
