:root {
  --main-color: #3e84e1;
  --color-red: #ff0000;
}
#enterBtn {
  color: white;
  background-color: var(--main-color);
  font-size: 30px;
  font-weight: 800;
  width: 100%;
  height: 60px;
  border: none;
  border-radius: 10px;
  margin: 20px 0 20px 0;
  cursor: pointer;
}
.possible {
  color: var(--main-color);
}
.impossible {
  color: var(--color-red);
}
.hidden {
  display: none;
}
.visibility {
  position: absolute;
  cursor: pointer;
}
